R"(

.modal {
	background-color: rgba(250, 250, 250, 0.8);
	border: 1px;
	padding: 8px;
	position: absolute;
	width: 70%;
	height: 70%;
	top: 15%;
	left: 15%;
}

.btn {
	border: 1px;
	padding: 2px 6px;
}

.window {
  margin: 4px;
  width: 100%;
  height: 100%;
}

.menubar .btn {
  border-left: 0;
}

.menubar .btn:first-child {
  border-left: 1px;
}

.chatarea {
  border: 1px;
  width: 99%;
  height: 190px;
}

.chatarea .chatarea-output {
  height: 160px;
  max-height: 160px;
  width: 100%;
}

.chatarea .chatarea-input {
  border-top: 1px solid #000;
  height: 30px;
  width: 100%;
}
.chatarea-output .alert {
  margin-bottom: 0;
  padding: 4px;
}

.playarea {
  display: flex;
  flex-direction: row;
}

.playpreview {
  margin-top: 4px;
  margin-bottom: 4px;
  min-width: 62px;
  max-width: 62px;
}

.playpreview-field {
  border: 1px;
  margin-bottom: 10px;
}

.playpreview-field:last-child {
  margin-bottom: 0;
}

.playpreview-field .playtile {
  width: 10px;
  height: 10px;
}

.playfield, .playpreview-field {
  padding-left: 15px;
}

.playfield {
  margin-top: 4px;
  margin-bottom: 4px;
  border: 1px;
  min-width: 242px;
  max-width: 242px;
}

.playfield-secondary {
  min-width: 122px;
  max-width: 122px;
}

.playfield-wrapper {
  max-width: 259px;
}

.playpreview-wrapper {
  padding: 0;
  margin-left: 4px;
  min-width: 64px;
}

.itembox-wrapper {
  margin-left: 0px;
  padding-left: 0px;
  width: 310px;
  border: 1px solid #000;
}

.itembox-wrapper .col:first-child {
  padding: 0;
  text-align: center;
  line-height: 15px;
}

.itembox-wrapper .playtile {
  height: 30px;
  width: 30px;
  background-color: #fff;
  padding: 0;
  text-align: center;
  line-height: 32px;
}

.itembox-wrapper .item {
  border: 1px solid #000;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
}

.itembox-wrapper .item-active {
  background-color: #EEEEEE;
}

.itembox-wrapper .item-selected {
  color: #EEEEEE;
  background-color: #212121;
  font-style: bold;
}

.playfield-wrapper-wrapper {
  min-width: 335px;
}

.playfield-wrapper-secondary:first-child {
  margin-left: 50px;
}

.playfield-wrapper-secondary {
  min-width: 134px;
  max-width: 134px;
  padding: 5px;
  padding-top: 0px;
  padding-right: 0px;
}

.row .textview {
  padding-left: 4px;
  padding-right: 4px;
}

.playtile {
  width: 20px;
  height: 20px;
  border: 1px dashed rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.playfield-secondary .playtile {
  width: 10px;
  height: 10px;
}

.col {
  flex-wrap: nowrap;
}

)"